@font-face { 
    font-family: AdverGothicItalic;
    src: url('advergothic-italic.ttf') format('truetype');
}

body {
    background-color: #252525;
    font-family: 'AdverGothicItalic', arial;
    color: #ff0000;
    padding-right: 36px;
}

.text {
    text-align: justify;
}

img {
    border-color: #fafafa;
}

h2 {
    margin-top: 48px;
}

a:hover, a:active, a:focus {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
