@font-face { 
    font-family: AdverGothicItalic;
    src: url('advergothic-italic.ttf') format('truetype');
}

body {
    background-color: #252525;
    font-family: 'AdverGothicItalic', arial;
    color: #ff0000;
}

.text {
    text-align: justify;
}

img {
    border-color: #fafafa;
}

h2 {
    margin-top: 48px;
}

a:hover, a:active, a:focus {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}

#header_link {
    color: inherit;
    font-size: 32px;
    text-decoration: none;
}

#header_table {
    border: 0;
    margin-left: 12px;
    margin-top: 10px;
    padding: 0;
}

#header_icon {
    margin-right: 8px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.vgrad {
    background: #050505;
    background: linear-gradient(to top, #404040, #050505);
}

.closer {
    margin: 0;
    padding: 0;
}

#menu {
    position: absolute;
    top: 80px;
    bottom: 0;
    width: 300px;
    border: none;
}

#main_container {
    position: absolute;
    top: 80px;
    bottom: 0;
    left: 300px;
    right: 0;
    min-width: 366px;
    border: none;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

ul.nav {
    font-size: 22px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

ul.nav a {
    color: inherit;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
}

ul.nav a:hover {
    background-color: #474747;
}

ul.nav .current {
    background-color: #474747;
}

ul.nav .other {
}

li {
    margin-top: 28px;
    height: 36px;
}

.exponat {
    margin-top: 22px;
    margin-right: 18px;
    margin-bottom: 22px;
}