@font-face { 
    font-family: AdverGothicItalic;
    src: url('advergothic-italic.ttf') format('truetype');
}

body {
    background-color: #252525;
    background: url(images/background.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    font-family: 'AdverGothicItalic', arial;
    color: #ff0000;
    padding-right: 36px;
}

.text {
    text-align: justify;
}

img {
    border-color: #fafafa;
}

h2 {
    margin-top: 48px;
}